
html,body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
#readInside{
font-size:1.4rem;
width:90%;
margin-left:auto;
margin-right:auto;
margin-top:1rem;
margin-bottom:1rem;
display:block;
}
img{
width:99%; 
height:99%;
margin:auto;
display:block;
}
@keyframes openApp {
0% { transform: scale(0.1); opacity: 0; }
100% { transform: scale(1.0); opacity: 1; }
}
@keyframes closeApp {
0% { transform: scale(1.0); opacity: 1; }
100% { transform: scale(0.1); opacity: 0; }
}
.OpenPostAnim{
animation: openApp 0.3s forwards ease;
}
.ClosePostAnim{
animation:closeApp 0.9s forwards ease;
}
.post{
display:block;
position:absolute!important;
right:0;
top:0;
z-index:3;
width:100%;
min-height:100%;
background-color:white;
}
.main{
display:block;
position:absolute!important;
right:0px;
top:0px;
z-index:1;
width:100%;
background-color:white;
}
#loading{
font-size:1.5rem;
}
#space{
height: 4rem;
display:block;
}
video{
width:99%;
height:99%;
display:block;
}